@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to bottom, #a0e9f1, #f9a62b);
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  